############################
# Angular / Node
############################
frontend/node_modules/
frontend/dist/
frontend/.angular/
frontend/.cache/
frontend/.sass-cache/
frontend/coverage/
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

############################
# Spring Boot / Maven / Gradle
############################
backend/target/
backend/build/
backend/.gradle/
backend/*.log

############################
# IntelliJ IDEA
############################
.idea/
*.iml
*.ipr
*.iws

############################
# OS Files
############################
.DS_Store
Thumbs.db

############################
# Logs
############################
*.log